$primary-color : rgb(186, 245, 197);
$padding-l : 2rem;
$padding-sm : .5rem;
$secondary-color : rgb(23, 53, 133);
$list-color : rgb(88, 203, 245);
$shadow-sm : .50rem .50rem solid black;
$border-color : solid black;
$border-sm : .4rem solid black;